<p id="notice"><%= notice %></p>

<p>
  <strong>Order description:</strong>
  <%= @order_type.Order_Description %>
</p>

<%= link_to 'Edit', edit_order_type_path(@order_type) %> |
<%= link_to 'Back', order_types_path %>
