<p id="notice"><%= notice %></p>

<p>
  <strong>Cake name:</strong>
  <%= @cake_flavor.Cake_Name %>
</p>

<%= link_to 'Edit', edit_cake_flavor_path(@cake_flavor) %> |
<%= link_to 'Back', cake_flavors_path %>
