<p id="notice"><%= notice %></p>

<p>
  <strong>Task status name:</strong>
  <%= @task_status.Task_Status_Name %>
</p>

<%= link_to 'Edit', edit_task_status_path(@task_status) %> |
<%= link_to 'Back', task_statuses_path %>
