<p id="notice"><%= notice %></p>

<p>
  <strong>Employee status name:</strong>
  <%= @employee_status.Employee_Status_Name %>
</p>

<%= link_to 'Edit', edit_employee_status_path(@employee_status) %> |
<%= link_to 'Back', employee_statuses_path %>
